$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin toggle-sizes($thumb-size, $track-width, $track-height, $gap: 2px) {
  --toggle-thumb-size: #{$thumb-size};
  --toggle-track-width: #{$track-width};
  --toggle-track-height: #{$track-height};
  --toggle-thumb-gap: #{$gap};
}
